@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,900);

/* Includes */
@import 'includes/accordion.css';
@import 'includes/consoles.css';
@import 'includes/radio-checkbox.css';
@import 'includes/squares.css';
@import 'includes/select-box.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --lightcolor: whitesmoke;
  --focuscolor: #4980d3;
  --bggradient: linear-gradient(15deg, #25ddf5, #53f);
  --fontfam: 'Source Sans Pro', sans-serif;
}

body {
  font-family: var(--fontfam);
  color: var(--lightcolor);
  overflow: hidden;
}
/*#region placeholder*/
body ::-webkit-input-placeholder {
  font-family: var(--fontfam);
  color: var(--lightcolor);
  font-weight: 300;
}
body :-moz-placeholder {
  font-family: var(--fontfam);
  color: var(--lightcolor);
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  font-family: var(--fontfam);
  color: var(--lightcolor);
  opacity: 1;
  font-weight: 300;
}
 body :-ms-input-placeholder {
  font-family: var(--fontfam);
  color: var(--lightcolor);
  font-weight: 300;
}
/*#endregion placeholder*/

.main {
	background: var(--bggradient);
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main #why {
  transition: opacity 1s;
}

#title {
  font-size: 2em;
  margin-top: 8vh;
  font-weight: 400;
}

/*#region Forms and Buttons*/
.container {
  width: 360px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.container p {
  font-size: 1.25em;
  line-height: 1.5em;
}

.container form {
  width: 280px;
  position: absolute;
  top: 30px;
  left: 40px;
  z-index: 3;
  transition: 0.5s;
}

.container form input {
  border-radius: 3px;
  border: 1px solid rgba(255,255,255,0.4);
  background-color: rgba(255,255,255,0.2);
  outline: 0;
  appearance: none;
  text-align: center;
  color: var(--lightcolor);
  font-size: 1.2em;
  transition-duration: 0.35s;
  font-weight: 300;

  width: 100%;
  padding: 10px 5px;
}

/* Chrome, Safari, Edge, Opera */
#age::-webkit-outer-spin-button,
#age::-webkit-inner-spin-button,
#phone::-webkit-outer-spin-button,
#phone::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#age, #phone {
  -moz-appearance: textfield;
}

.container form #phone {
  margin-bottom: 20px;
}

.container form input:hover {
	background-color: rgba(255,255,255,0.4);
}

.container form input:focus {
	background-color: white;
	transform: scaleX(1.1);
	color: var(--focuscolor);
}

.btn-box {
  width: 100%;
  text-align: center;
}

.container .btn-box button {
	appearance: none;
	outline: 0;
  background-color: white;
  border: 0;
  color: var(--focuscolor);
  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;

  width: 110px;
  height: 40px;
}
.container .btn-box button:hover {
  background-color: transparent;
  border: 2px solid var(--lightcolor);
  color: var(--lightcolor);
}

#survey-form, #survey-form2,
#survey-form3, #survey-form4,
#survey-form5, #survey-form6,
#end-form {
  left: 450px;
}

#back1, #back2, #back3, #back4, #back5 {
  margin-right: 4vw;
}
#next2{
  margin-top: 27px;
}
#next3 {
  margin-top: 23px;
}
#next4, #next5 {
  margin-top: 48px;
}
#next6 {
  margin-top: 38px;
}
/*#endregion Forms and Buttons*/

/*#region Form Validation*/
.form {
  padding: 30px 40px;	
}

.form-control {
  margin-bottom: 0;
  padding-bottom: 20px;
  position: relative;
}

.form-control.error input {
  border: 2px solid #e74c3c;
}

.form-control i {
  visibility: hidden;
  position: absolute;
  top: 15px;
  right: 10px;
}

.form-control.success i.fa-check-circle {
  color: rgb(102, 255, 148);
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control.error small {
  visibility: visible;
}
/*#endregion Form Validation*/ 

/*#region TextArea*/
#survey-form6 textarea{
  border-radius: 3px;
  border: 1px solid rgba(255,255,255,0.4);
  background-color: rgba(255,255,255,0.2);
  outline: 0;
  appearance: none;
  text-align: center;
  color: var(--lightcolor);
  font-size: 1.2em;
  transition-duration: 0.35s;
  font-weight: 300;
  resize: none;

  width: 100%;
  padding: 10px 5px;
  margin-bottom: 20px;
}
/*#endregion TextArea*/
